:root {
  --rose-main-base: #faf4ed;
  --rose-main-base-rgb: rgb(250, 244, 237);
  --rose-main-base-hsl: hsl(32, 57%, 95%);
  --rose-main-surface: #fffaf3;
  --rose-main-surface-rgb: rgb(255, 250, 243);
  --rose-main-surface-hsl: hsl(35, 100%, 98%);
  --rose-main-overlay: #f2e9de;
  --rose-main-overlay-rgb: rgb(242, 233, 222);
  --rose-main-overlay-hsl: hsl(33, 43%, 91%);
  --rose-main-muted: #9893a5;
  --rose-main-muted-rgb: rgb(152, 147, 165);
  --rose-main-muted-hsl: hsl(257, 9%, 61%);
  --rose-main-subtle: #797593;
  --rose-main-subtle-rgb: rgb(121, 117, 147);
  --rose-main-subtle-hsl: hsl(248, 12%, 52%);
  --rose-main-text: #575279;
  --rose-main-text-rgb: rgb(87, 82, 121);
  --rose-main-text-hsl: hsl(248, 19%, 40%);
  --rose-main-love: #b4637a;
  --rose-main-love-rgb: rgb(180, 99, 122);
  --rose-main-love-hsl: hsl(343, 35%, 55%);
  --rose-main-gold: #ea9d34;
  --rose-main-gold-rgb: rgb(234, 157, 52);
  --rose-main-gold-hsl: hsl(35, 81%, 56%);
  --rose-main-rose: #d7827e;
  --rose-main-rose-rgb: rgb(215, 130, 126);
  --rose-main-rose-hsl: hsl(3, 53%, 67%);
  --rose-main-pine: #286983;
  --rose-main-pine-rgb: rgb(40, 105, 131);
  --rose-main-pine-hsl: hsl(197, 53%, 34%);
  --rose-main-foam: #56949f;
  --rose-main-foam-rgb: rgb(86, 148, 159);
  --rose-main-foam-hsl: hsl(189, 30%, 48%);
  --rose-main-iris: #907aa9;
  --rose-main-iris-rgb: rgb(144, 122, 169);
  --rose-main-iris-hsl: hsl(268, 21%, 57%);
  --rose-main-highlight-low: #f4ede8;
  --rose-main-highlight-low-rgb: rgb(244, 237, 232);
  --rose-main-highlight-low-hsl: hsl(25, 35%, 93%);
  --rose-main-highlight-low-alpha: #6e6a860d;
  --rose-main-highlight-low-alpha-rgb: rgba(110, 106, 134, 0.05);
  --rose-main-highlight-low-alpha-hsl: hsla(249, 12%, 47%, 0.05);
  --rose-main-highlight-med: #dfdad9;
  --rose-main-highlight-med-rgb: rgb(223, 218, 217);
  --rose-main-highlight-med-hsl: hsl(10, 9%, 86%);
  --rose-main-highlight-med-alpha: #6e6a8614;
  --rose-main-highlight-med-alpha-rgb: rgba(110, 106, 134, 0.08);
  --rose-main-highlight-med-alpha-hsl: hsla(249, 12%, 47%, 0.08);
  --rose-main-highlight-high: #cecacd;
  --rose-main-highlight-high-rgb: rgb(206, 202, 205);
  --rose-main-highlight-high-hsl: hsl(315, 4%, 80%);
  --rose-main-highlight-high-alpha: #6e6a8626;
  --rose-main-highlight-high-alpha-rgb: rgba(110, 106, 134, 0.15);
  --rose-main-highlight-high-alpha-hsl: hsla(249, 12%, 47%, 0.15);
}
