:root {
  --rose-main-base: #faf4ed;
  --rose-main-surface: #fffaf3;
  --rose-main-overlay: #f2e9de;
  --rose-main-muted: #9893a5;
  --rose-main-subtle: #797593;
  --rose-main-text: #575279;
  --rose-main-love: #b4637a;
  --rose-main-gold: #ea9d34;
  --rose-main-rose: #d7827e;
  --rose-main-pine: #286983;
  --rose-main-foam: #56949f;
  --rose-main-iris: #907aa9;
  --rose-main-highlight-low: #f4ede8;
  --rose-main-highlight-low-alpha: #6e6a860d;
  --rose-main-highlight-med: #dfdad9;
  --rose-main-highlight-med-alpha: #6e6a8614;
  --rose-main-highlight-high: #cecacd;
  --rose-main-highlight-high-alpha: #6e6a8626;
}
