:root {
  --rose-main-base: #232136;
  --rose-main-base-rgb: rgb(35, 33, 54);
  --rose-main-base-hsl: hsl(246, 24%, 17%);
  --rose-main-surface: #2a273f;
  --rose-main-surface-rgb: rgb(42, 39, 63);
  --rose-main-surface-hsl: hsl(248, 24%, 20%);
  --rose-main-overlay: #393552;
  --rose-main-overlay-rgb: rgb(57, 53, 82);
  --rose-main-overlay-hsl: hsl(248, 21%, 26%);
  --rose-main-muted: #6e6a86;
  --rose-main-muted-rgb: rgb(110, 106, 134);
  --rose-main-muted-hsl: hsl(249, 12%, 47%);
  --rose-main-subtle: #908caa;
  --rose-main-subtle-rgb: rgb(144, 140, 170);
  --rose-main-subtle-hsl: hsl(248, 15%, 61%);
  --rose-main-text: #e0def4;
  --rose-main-text-rgb: rgb(224, 222, 244);
  --rose-main-text-hsl: hsl(245, 50%, 91%);
  --rose-main-love: #eb6f92;
  --rose-main-love-rgb: rgb(235, 111, 146);
  --rose-main-love-hsl: hsl(343, 76%, 68%);
  --rose-main-gold: #f6c177;
  --rose-main-gold-rgb: rgb(246, 193, 119);
  --rose-main-gold-hsl: hsl(35, 88%, 72%);
  --rose-main-rose: #ea9a97;
  --rose-main-rose-rgb: rgb(234, 154, 151);
  --rose-main-rose-hsl: hsl(2, 66%, 75%);
  --rose-main-pine: #3e8fb0;
  --rose-main-pine-rgb: rgb(62, 143, 176);
  --rose-main-pine-hsl: hsl(197, 48%, 47%);
  --rose-main-foam: #9ccfd8;
  --rose-main-foam-rgb: rgb(156, 207, 216);
  --rose-main-foam-hsl: hsl(189, 43%, 73%);
  --rose-main-iris: #c4a7e7;
  --rose-main-iris-rgb: rgb(196, 167, 231);
  --rose-main-iris-hsl: hsl(267, 57%, 78%);
  --rose-main-highlight-low: #2a283e;
  --rose-main-highlight-low-rgb: rgb(42, 40, 62);
  --rose-main-highlight-low-hsl: hsl(245, 22%, 20%);
  --rose-main-highlight-low-alpha: #817c9c14;
  --rose-main-highlight-low-alpha-rgb: rgba(129, 124, 156, 0.08);
  --rose-main-highlight-low-alpha-hsl: hsla(249, 14%, 55%, 0.08);
  --rose-main-highlight-med: #44415a;
  --rose-main-highlight-med-rgb: rgb(68, 65, 90);
  --rose-main-highlight-med-hsl: hsl(247, 16%, 30%);
  --rose-main-highlight-med-alpha: #817c9c26;
  --rose-main-highlight-med-alpha-rgb: rgba(129, 124, 156, 0.15);
  --rose-main-highlight-med-alpha-hsl: hsla(249, 14%, 55%, 0.15);
  --rose-main-highlight-high: #56526e;
  --rose-main-highlight-high-rgb: rgb(86, 82, 110);
  --rose-main-highlight-high-hsl: hsl(249, 15%, 38%);
  --rose-main-highlight-high-alpha: #817c9c4d;
  --rose-main-highlight-high-alpha-rgb: rgba(129, 124, 156, 0.3);
  --rose-main-highlight-high-alpha-hsl: hsla(249, 14%, 55%, 0.3);
}
