:root {
  --rose-main-base: #232136;
  --rose-main-surface: #2a273f;
  --rose-main-overlay: #393552;
  --rose-main-muted: #6e6a86;
  --rose-main-subtle: #908caa;
  --rose-main-text: #e0def4;
  --rose-main-love: #eb6f92;
  --rose-main-gold: #f6c177;
  --rose-main-rose: #ea9a97;
  --rose-main-pine: #3e8fb0;
  --rose-main-foam: #9ccfd8;
  --rose-main-iris: #c4a7e7;
  --rose-main-highlight-low: #2a283e;
  --rose-main-highlight-low-alpha: #817c9c14;
  --rose-main-highlight-med: #44415a;
  --rose-main-highlight-med-alpha: #817c9c26;
  --rose-main-highlight-high: #56526e;
  --rose-main-highlight-high-alpha: #817c9c4d;
}
