@import url("../static/font/Oxygen.css");
@import url("./palette.css");

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Oxygen";
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99vh;
}

#top,
#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#top {
  border-bottom: var(--foreground) 3px solid;
}

#bottom {
  border-top: var(--foreground) 3px solid;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  padding: 0.5vh 1.5vw 0.5vh 1.5vw;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color1);
}

#instances {
  padding: 1vh 1vw 1vh 1vw;
}
