@import url("../static/font/Oxygen.css");
@import url("./palette.css");

html {
  background-color: var(--rose-main-base);
  color: var(--rose-main-text);
  font-family: "Oxygen";
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99vh;
}

#top,
#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#top {
  border-bottom: var(--foreground) 3px solid;
}

#bottom {
  border-top: var(--foreground) 3px solid;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  padding: 0.5vh 1.5vw 0.5vh 1.5vw;
  cursor: pointer;
}

.button:hover {
  background-color: var(--rose-main-muted);
}

#instances {
  padding: 1vh 1vw 1vh 1vw;
}

#statuses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dialogue {
  position: absolute;
  top: 1vh;
  right: 1vw;
  z-index: 100;

  width: 30vw;
}

.error {
  margin: 0;
  margin-bottom: 1vh;
  border: 3px solid var(--rose-main-love);
  /* background-color: var(--rose-main-love); */
  backdrop-filter: blur(10px);
  color: var(--rose-main-love);
  padding: 1vh 1vw 1vh 1vw;
}
