@import url("../static/font/Overpass.css");
@import url("./theme-in-use.css");
@import url("./keyframes.css");

html {
  font-family: "Overpass";
  background-color: var(--rose-main-base);
  color: var(--rose-main-text);
  overflow: hidden;
}

#dialogue {
  position: absolute;
  top: 1vh;
  right: 1vw;
  z-index: 100;

  width: 30vw;

  backdrop-filter: blur(5px);
}

.error .warning {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-bottom: 1vh;
  padding: 2vh 2vw;

  animation: slidein 500ms;
  font-size: 15px;
}

.error {
  border: 3px solid var(--rose-main-love);
  color: var(--rose-main-love);
}

.warning {
  border: 3px solid var(--rose-main-gold);
  color: var(--rose-main-gold);
}

.button {
  padding: 0.5vh 1.5vw;
  cursor: pointer;
}

.button:hover {
  background-color: var(--rose-main-muted);
}

fieldset {
  border-color: var(--rose-main-subtle);
  border-style: solid;
}
