@import url("../static/font/Oxygen.css");
@import url("./rose-pine/moon.css");
@import url("./keyframes.css");

html {
  font-family: "Oxygen";
  background-color: var(--rose-main-base);
  color: var(--rose-main-text);
  overflow: hidden;
}

#dialogue {
  position: absolute;
  top: 1vh;
  right: 1vw;
  z-index: 100;

  width: 30vw;
}

.error .warning {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0;
  margin-bottom: 1vh;
  padding: 1vh 1vw 1vh 1vw;

  backdrop-filter: blur(10px);
  animation: slidein 500ms;
  font-size: 15px;
}

.error {
  border: 3px solid var(--rose-main-love);
  color: var(--rose-main-love);
}

.warning {
  border: 3px solid var(--rose-main-gold);
  color: var(--rose-main-gold);
}
