@import url(./root.css);

#splash-content {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

svg {
  width: 100px;
  margin: 15vh 0;
}

p {
  font-size: 20px;
}

.path {
  stroke: var(--rose-main-iris);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s cubic-bezier(1, 0, 0.3, 0.7) forwards;
}
